body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #ddd9d9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    height: 600px;
    position: relative;
    grid-template-rows: auto 1fr;
    border: 2px solid #56d424;
}

.display {
    background-color: #474343;
    color: #fff;
    font-size: 2em;
    height: 70px;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.buttons {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}

.btn {

    height: 80px;
    background-color: #726f6f;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btnop {

    background-color: #f08a1e;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btnopc {
    background-color: #ed240d;
    border: none;
    border-radius: 10px;
    width: 63px;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 255px;
}


.btn:active, .btn:hover {
    background-color: #aca5a5;
}

.btn:active, .btnopc:hover {
    background-color: #d05353;
}
.btn:active, .btnop:hover {
    background-color: #c48741;
}
.equals {
    background-color: #17b246;
    color: #fff;
}

.equals:active, .equals:hover {
    background-color: #53c475;
}
.btn-clear {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}