body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #ddd9d9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    height: 600px;
    position: relative;
    grid-template-rows: auto 1fr;
    border: 2px solid #56d424;
}

.display {
    background-color: #474343;
    color: #fff;
    font-size: 2em;
    height: 70px;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:active, .btn:hover {
    background-color: #ccc;
}

.equals {
    background-color: #ff9500;
    color: #fff;
    grid-column: span 2;
}

.equals:active, .equals:hover {
    background-color: #e08a00;
}

/* Specific positioning for the first row */
.btn-clear {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.btn-divide {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.btn-multiply {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.btn-delete {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}